---
/**
 * A8.net 広告（336×280）
 * 記事の最終パート・関連記事の直前に配置
 */
---
<div class="a8-ad" aria-label="広告">
  <a href="https://px.a8.net/svt/ejp?a8mat=4AZHWA+2ZRI1M+4KHO+C2VV5" rel="nofollow sponsored">
    <img border="0" width="336" height="280" alt="" src="https://www26.a8.net/svt/bgt?aid=260317018181&wid=002&eno=01&mid=s00000021318002029000&mc=1" loading="lazy" />
  </a>
  <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=4AZHWA+2ZRI1M+4KHO+C2VV5" alt="" />
</div>

<style>
  .a8-ad {
    margin: 2rem 0;
    text-align: center;
  }

  .a8-ad a {
    display: inline-block;
    line-height: 0;
  }

  .a8-ad img[width="336"] {
    max-width: 100%;
    height: auto;
  }
</style>
